#main{
  width: 950px;
  margin: 10% auto;
}
#main .point_section{
  position: relative;
  height: 700px;
}
#main .point_section .apply_area{
  position: absolute;
  z-index: 1;
  background: white;
  padding: 60px 80px;
}
#main .point_section .apply_area > * + * {
  padding: 50px 0 0;
}
#main .point_section .apply_area h1{
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
  letter-spacing: 3px;
}
#main .point_section .apply_area .points_area li{
  line-height: 28px;
}
#main .point_section .apply_area .btn_area .apply_btn{
  width: 180px;
  padding: 15px 10px;
  font-size: 14px;
}
#main .point_section .point_section_img{
  position: absolute;
  width: 450px;
  bottom: 0;
  right: 0;
}
#main .bottom {
  margin: 10% auto;
}

@media(max-width:1000px){
  #main{
    width: 90%;
  }
  #main .point_section{
    height: 500px;
  }
  #main .point_section .apply_area{
    padding: 60px 10%;
  }
  #main .point_section .apply_area > * + * {
    padding: 30px 0 0;
  }
  #main .point_section .apply_area h1{
    font-size: 24px;
  }
  #main .point_section .point_section_img{
    width: 44%;
  }
}

@media(max-width:770px){
  #main .point_section{
    height: auto;
  }
  #main .point_section .apply_area{
    position: initial;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10%;
  }
  #main .point_section .apply_area h1 {
    font-size: 18px;
    line-height: 1.4;
  }
  #main .point_section .apply_area .points_area li{
    font-size: 14px;    
    line-height: 1.6;
  }  
  .point_section_img {
    display: none;
  }
}