#main{
  width: 75%;
  margin: 8% auto;
}
/* 実務費用 */
#main > section + section {
  margin: 140px 0 0;
}
#main .h1_area{
  margin: 0 0 50px;
}
#main .h1_area .sqare{
  background: orange;
  width: 20px;
  height: 50px;
}
#main .h1_area h1{
  font-size: 28px;
  padding: 0 0 0 20px;
}
#main .practical_cost .plan_area{
  padding: 0 0 60px;
}
#main .practical_cost .plan_area .plans{
  flex:1;
}
#main .practical_cost .plan_area .plans:nth-child(2){
  margin: 0 20px;
}
#main .practical_cost .plan_area .plans h2{
  font-size: 18px;
  font-weight: bold;
  padding: 0 0 20px;
}
#main .practical_cost .plan_area .plans p{
  padding: 20px 0 0;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 1.6;
}
#main .practical_cost .orange_border{
  border: 5px solid orange;
  padding: 10px 0 10px 40px;
}
#main .practical_cost .orange_border p{
  font-size: 13px;
  font-weight: bold;
  line-height: 1.8;
}
#main .practical_cost .notes{
  padding: 30px 0 0;
}
#main .practical_cost .notes p{
  font-size: 13px;
  line-height: 20px;
}
/* 月額料金プラン */
#main .monthly_price_plan{
  position: relative;
}
#main .monthly_price_plan .btn{
  background: #eb5933;
  width: 30%;
  height: 5%;
  border-radius: 20px;
  font-size: 18px;
  bottom: 180px;
  right: 0;
  left: 0;
  margin: auto auto;
  position: absolute;
  text-decoration: none;
}
/* 出品手数料一覧 */
#main .fee_list table{
  width: 100%;
  border: solid 3px #555555;
}
#main .fee_list table .thin{
  font-size: 13px;
}
#main .fee_list table tr{
  height: 60px;
}
#main .fee_list table .plan{
  width: 140px;
}
#main .fee_list table tr th{
  border: solid thin black;
  vertical-align: middle;
  padding: 0 3px;
}
#main .fee_list table tr .kind,.target{
  font-size: 16px;
}
#main .fee_list table tr .premium_plan{
  background: #f4ae42;
  font-size: 11px;
}
#main .fee_list table tr .standard_plan{
  background:#48748d;
  font-size: 11px;
}
#main .fee_list table tr .commission{
  font-size: 11px;
}
#main .fee_list table tr .plan{
  font-size: 16px;
}
/* こんなことも依頼可能 */
#main .possible_request{
  padding: 0 0 10%;
}
#main .possible_request img{
  width: 100%;
  padding: 0 0 100px;
}
#main .possible_request .request_list{
  padding: 0 0 100px;
}
#main .possible_request .requests{
  width: 160px;
}
#main .possible_request .requests img{
  width: 100%;
}
#main .possible_request .requests h1{
  padding: 60px 0 0;
  font-size: 18px;
  font-weight: bold;
}
#main .possible_request .requests p{
  padding: 40px 0 0;
  font-size: 13px;
  line-height: 26px;
}
#main .possible_request .btn_area .btn{
  background: #4e4e4e;
  width: 310px;
  height: 50px;
  text-decoration: none;
}
#main .possible_request .end_img_area{
  padding: 50px 0 0;
}
#main .possible_request .end_img_area .end_img{
  width: 12%;
  height: 10%;
}

@media(max-width:1300px){
  #main .fee_list table .thin{
    font-size: 11px;
  }  
  #main .fee_list table tr .plan{
    width: 110px;
    font-size: 14px;
  }
}

@media(max-width:1000px){
  #main{
    width: 80%;
  }
  /* 実務費用 */
  #main .practical_cost{
    padding: 80px 0;
  }
  #main .practical_cost .plan_area .plans{
    width: 200px;
  }
  #main .practical_cost .plan_area .plans h2{
    font-size: 16px;
  }
  #main .practical_cost .plan_area .plans p{
    font-size: 12px;
  }
  #main .practical_cost .orange_border{
    padding: 10px 0 10px 20px;
  }
  /* 月額料金プラン */
  #main .monthly_price_plan .btn{
    font-size: 14px;
    bottom: 170px;
  }
  /* 出品手数料一覧 */
  /* こんなことも依頼可能 */
  #main .possible_request .btn_area .btn{
    width: 280px;
  }
}

@media(max-width:770px){
  #main{
    width: 90%;
    position: relative;
  }
  /* 実務費用 */
  #main .practical_cost{
    padding: 50px 0;
  }
  #main .h1_area{
    padding: 0 0 30px;
  }
  #main .h1_area h1{
    font-size: 24px;
  }
  #main .practical_cost .plan_area{ 
    flex-flow: column;
    padding: 0 0 30px;
  }
  #main .practical_cost .plan_area .plans{
    padding: 0 0 40px;
    width: 100%;
  }
  #main .practical_cost .plan_area .plans h2{
    padding: 0 0 5px;
    font-size: 20px;
  }
  #main .practical_cost .plan_area .plans p{
    padding: 5px 0 0;
    font-size: 14px;
    width: 100%;
  }
  #main .practical_cost .orange_border{
    border: solid 3px orange;
    padding: 5px 0 5px 10px;
  }
  #main .practical_cost .orange_border p{
    font-size: 12px;
  }
  #main .practical_cost .notes p{
    font-size: 12px;
  }
  /* 月額料金プラン */
  #main .monthly_price_plan{
    padding: 0 0 50px;
  }
  #main .monthly_price_plan .enable{
    display: none;
  }
  #main .monthly_price_plan .btn{
    width: 25%;
    height: 4%;
    font-size: 10px;
    bottom: 70px;
    border-radius: 10px;
  }
  /* 出品手数料一覧 */
  #main .fee_list{
    padding: 0 0 50px;
  }
  #main .fee_list table{
    overflow: auto;
    white-space: nowrap;
    display: block;
    width: auto;
  }
  table::-webkit-scrollbar {
    height: 5px;
  }
  table::-webkit-scrollbar-track {
    background: #F1F1F1;
  }
  table::-webkit-scrollbar-thumb {
    background: #BCBCBC;
  }
  #main .fee_list table tr .premium_plan{
    font-size: 14px;
  }
  #main .fee_list table tr .standard_plan{
    font-size: 14px;
  }
  #main .fee_list table tr .commission{
    font-size: 14px;
  }
  #main .fee_list table .plan{
    min-width: 100px;
  }
  /* こんなことも依頼可能 */
  #main .possible_request .enable{
    display: none;
  }
  #main .possible_request .request_list{
    flex-direction: column;
    padding: 0 0 40px;
  }
  #main .possible_request .requests{
    /* width: 50%; */
    margin: 0 auto;
  }
  #main .possible_request .requests img{
    padding: 40px 0 0;
  }
  #main .possible_request .requests h1{
    padding: 10px 0 0;
  }
  #main .possible_request .requests p{
    padding: 10px 0 0;
  }
  #main .possible_request .btn_area{
    flex-direction: column;
  }
  #main .possible_request .btn_area .btn{
    width: 60%;
    margin: 3% auto;
    font-size: 14px;
  }
  #main .possible_request .end_img_area .end_img{
    display: none;
  }
}