/* top_header */
#top_header{
  position: relative;
}
#top_header img{
  height: 100%;
}
#top_header .top_header_btn{
  /* background: #eb5933; */
  background-image: -webkit-linear-gradient(45deg, #ff8b5f 0%, #FFC107 100%);
  width: 46%;
  height: 70px;
  font-size: 28px;
  letter-spacing: 6px;
  border-radius: 50px;
  margin: 0 auto;
  bottom: 22%;
  position: absolute;
}
/* top_main */
#top_main .goodpoint_bunner{
  padding: 0 0 120px;
}
#top_main .goodpoint_bunner h1{
  font-size: 50px;
  font-weight: bold;
  color: gray;
  padding: 150px 0 0;
  line-height: 80px;
}
#top_main .goodpoint_bunner>p{
  font-size: 22px;
  color: #aaaaaa;
  padding: 80px 0 0;
}
#top_main .goodpoint_bunner h2{
  font-size: 45px;
  font-weight: bold;
  color: #777777;
  padding: 80px 0 0;
}
#top_main .goodpoint_bunner .top_contact{
  padding: 80px 0 0;
}
#top_main .goodpoint_bunner .top_contact .top_contact_btn a{
  background: #e9ba2f;
  font-size: 26px;
  font-weight: bold;
  width: 310px;
  height: 70px;
}
/* good_point */
#top_main .goodpoints{
  width: 900px;
  margin: 0 auto;
}
/* good_point1 */
#top_main .goodpoints .good_point1{
  padding: 50px 0 60px;
  position: relative;
}
#top_main .goodpoints .good_point1 .border_area1{
  border: solid gray 1px;
  padding: 80px 90px;
  width: 50%;
}
#top_main .goodpoints img{
  top: 0;
  right: 0;
  position: absolute;
}
/* good_point2 */
#top_main .goodpoints .good_point2{
  padding: 50px 0 60px;
  position: relative;
}
#top_main .goodpoints .good_point2 .border_area2{
  border: solid gray 1px;
  padding: 80px 0 80px 120px;
  width: 50%;
}
#top_main .goodpoints .good_point2 img{
  top: 140px;
  left: 0;
  position: absolute;
}
/* good_point3 */
#top_main .goodpoints .good_point3{
  padding: 50px 0 100px;
  position: relative;
}
#top_main .goodpoints .good_point3 .border_area3{
  border: solid gray 1px;
  padding: 80px 90px;
  width: 50%;
}
#top_main .goodpoints .good_point3 img{
  top: 140px;
  right: 0;
  position: absolute;
}
/* goodpointの共通部分 */
#top_main .goodpoints h3{
  color: skyblue;
  font-size: 20px;
  padding: 0 0 50px;
  letter-spacing: 4px
}
#top_main .goodpoints h4{
  color: #777777;
  font-size: 20px;
  padding: 0 0 30px;
  line-height: 30px;
}
#top_main .goodpoints p{
  color: #777777;
  font-size: 13px;
  line-height: 20px;
  padding: 0 0 60px;
}
#top_main .goodpoints .read_move_btn{
  background: #4681a5;
  color: white;
  padding: 16px 36px;
  border-radius: 10px;
  font-size: 20px;
}
#top_main .goodpoints img{
  width: 44%;
}
/* お問い合わせ、３０日間プレミアム会員体験エリア */
#top_main .cnsultation_area{
  background-image: url("../images/top03.png");
  background-size: cover;
  background-position: 50% 50%;
  height: 490px;
}
#top_main .cnsultation_area p{
  font-size: 18px;
  letter-spacing: 2px;
}
#top_main .cnsultation_area .btn_area{
  width: 800px;
  padding: 50px 0 0;
}
#top_main .cnsultation_area .btn_area .left_btn,
#top_main .cnsultation_area .btn_area .right_btn{
  background: #e9ba2f;
  height: 50px;
  padding: 4px 65px;
  font-weight: bold;
  letter-spacing: 2px;
}
/* 実績 */
#top_main .performance_area{
  padding: 100px 0;
  width: 900px;
  margin: 0 auto;
}
#top_main .performance_area h1{
  color: #777777;
  font-size: 44px;
}
#top_main .performance_area .performance_introduction_area{
  padding: 90px 0 0;
}
#top_main .performance_area .performance_introduction_area .performances img{
  width: 150px;
}
#top_main .performance_area .performance_introduction_area .performances .text_area{
  padding: 30px 0 0;
}
#top_main .performance_area .performance_introduction_area .performances .text_area .number{
  font-size: 28px;
  font-family: -webkit-pictograph;
}
#top_main .performance_area .performance_introduction_area .performances .text_area .theme{
  padding: 20px 0 0;
  font-size: 12px;
}
/* お客様の声 */
#top_main .voice{
  padding: 40px 0 120px;
  width: 900px;
  margin: 0 auto;
}
#top_main .voice h1{
  color: #777777;
  font-size: 38px;
}
#top_main .voice .text_area{
  padding: 60px 0 0;
}
#top_main .voice .text_area img{
  width: 180px;
  height: 180px;
}
#top_main .voice .text_area .text{
  padding: 0 0 0 80px;
}
#top_main .voice .text_area .text h2{
  font-size: 20px;
  color: #777777;
}
#top_main .voice .text_area .text p{
  padding: 40px 0 0;
  font-size: 13px;
  color: #777777;
  line-height: 28px;
}

  @media(max-width:1000px){
  /* top_header */
  #top_header .top_header_btn{
    width: 40%;
    height: 50px;
    font-size: 20px;
    letter-spacing: 3px;
  }
  /* top_main */
  #top_main .goodpoint_bunner h1{
    padding: 100px 0 0;
  }
  #top_main .goodpoint_bunner>p,
  #top_main .goodpoint_bunner h2,
  #top_main .goodpoint_bunner .top_contact{
    padding: 50px 0 0;
  }
  /* good_point */
  #top_main .goodpoints{
    width: 700px;
  }
  /* good_point1 */
  #top_main .goodpoints .good_point1 .border_area1{
    padding: 30px;
  }
  /* good_point2 */
  #top_main .goodpoints .good_point2 .border_area2{
    padding: 50px 0 50px 60px;
  }
  /* good_point3 */
  #top_main .goodpoints .good_point3 .border_area3{
    padding: 30px;
  }
  /* goodpointの共通部分 */
#top_main .goodpoints h3{
  padding: 0 0 30px;
}
#top_main .goodpoints p{
  padding: 0 0 50px;
}
    /* お問い合わせ、３０日間プレミアム会員体験エリア */
  #top_main .cnsultation_area{
    height: 300px;
  }
  #top_main .cnsultation_area p{
    font-size: 15px;
  }
  #top_main .cnsultation_area .btn_area{
    width: 700px;
  }
  #top_main .cnsultation_area .btn_area .left_btn{
    padding: 3px 50px;
    font-size: 14px;
    letter-spacing: 2px;
  }
  #top_main .cnsultation_area .btn_area .right_btn{
    padding: 3px 50px;
    font-size: 14px;
    letter-spacing: 2px;
  }
  /* 実績 */
  #top_main .performance_area{
    width: 700px;
  }
  /* お客様の声 */
  #top_main .voice{
    width: 700px;
  }
  #top_main .voice .text_area .text{
    padding: 0 0 0 50px;
  }
  
@media(max-width:770px){
  /* top_header */
  #top_header .top_header_btn{
    width: 38%;
    height: 30px;
    font-size: 10px;
    letter-spacing: 0px;
  }
  /* top_main */
  #top_main{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #top_main .goodpoint_bunner{
    width: 90%;
    padding: 0;
  }
  #top_main .goodpoint_bunner h1{
    font-size: 30px;
    line-height: 1.6;
    padding: 50px 0 0;
  }
  #top_main .goodpoint_bunner>p{
    font-size: 18px;
    padding: 30px 0 0;
  }
  #top_main .goodpoint_bunner h2{
    font-size: 30px;
    padding: 30px 0 0;
  }
  #top_main .goodpoint_bunner .top_contact{
    padding: 30px 0 0;
  }
  #top_main .goodpoint_bunner .top_contact .top_contact_btn a{
    font-size: 20px;
    width: 200px;
    height: 50px;
  }
  /* good_point */
  #top_main .goodpoints{
    width: 90%;
  }
  /* good_point1 */
  #top_main .goodpoints .good_point1{
    padding: 70px 0 20px;
  }
  #top_main .goodpoints .good_point1 .border_area1{
    border: none;
    padding: 30px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* good_point2 */
  #top_main .goodpoints .good_point2{
    padding: 20px 0;
  }
  #top_main .goodpoints .good_point2 .border_area2{
    border: none;
    padding: 30px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* good_point3 */
  #top_main .goodpoints .good_point3{
    padding: 20px 0 50px;
  }
  #top_main .goodpoints .good_point3 .border_area3{
    border: none;
    padding: 30px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  /* goodpointの共通部分 */
  #top_main .goodpoints h3,
  #top_main .goodpoints h4,
  #top_main .goodpoints p{
    padding: 0 0 20px;
  }
  #top_main .goodpoints .read_move_btn{
    padding: 12px 30px;
    font-size: 16px;
  }
  #top_main .goodpoints img{
    display: none;
  }
  /* お問い合わせ、３０日間プレミアム会員体験エリア */
  #top_main .cnsultation_area{
    width: 100%;
  }
  #top_main .cnsultation_area p{
    padding: 0 30px 0;
    text-align: center;
    line-height: 1.5
  }
  #top_main .cnsultation_area .btn_area{
    flex-direction: column;
    width: 300px;
    flex-wrap: wrap;
  }
  #top_main .cnsultation_area .btn_area .left_btn,
  #top_main .cnsultation_area .btn_area .right_btn{
    background-image: -webkit-linear-gradient(45deg, #ff8b5f 0%, #FFC107 100%);
    margin: 10px 0 0;
    padding: 0 20px;
    letter-spacing: 2px;
    font-size: 12px;
    border-radius: 50px;
  }
  /* 実績 */
  #top_main .performance_area{
    width: 90%;
    padding: 50px 0;
  }
  #top_main .performance_area h1{
    font-size: 38px;
  }
  #top_main .performance_area .performance_introduction_area{
    padding: 30px 0 0;
    flex-wrap: wrap;
  }
  #top_main .performance_area .performance_introduction_area .performances{
    padding: 0 0 70px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #top_main .performance_area .performance_introduction_area .performances img{
    width: 120px;
  }
  #top_main .performance_area .performance_introduction_area .performances .text_area,
  #top_main .performance_area .performance_introduction_area .performances .text_area .theme{
    padding: 10px 0 0;
  }
  /* お客様の声 */
  #top_main .voice{
    width: 90%;
    padding: 0 0 50px;
  }
  #top_main .voice h1{
    font-size: 38px;
  }
  #top_main .voice .text_area{
    padding: 30px 0 0;
    flex-direction: column;
    align-items: center;
  }
  #top_main .voice .text_area img{
    width: 150px;
    height: 150px;
  }
  #top_main .voice .text_area .text{
    padding: 0;
  }
  #top_main .voice .text_area .text h2{
    padding: 20px 0 0;
    font-size: 18px;
    text-align: center;
  }
  #top_main .voice .text_area .text p{
    padding: 18px 0 0;
    font-size: 12px;
  }
}

