#footer{
  background: #c9c9c9;
}
#footer .footer_apply_area {
  padding: 50px 0;
  background-color: white;
  text-align: center;
  letter-spacing: 2px;
}
#footer .footer_apply_title {
  font-size: 30px;
  font-weight: bold;
  margin: 0 0 30px;
}
#footer .footer_apply_btns {
  display: flex;
  justify-content: center;
}
#footer .footer_apply_btns a {
  width: 200px;
  padding: 20px;
  margin: 0 20px;
}
#footer .menus_area{
  width: 75%;
  margin: 3% auto;
}
#footer .menus_area .left_area,
#footer .menus_area .right_area {
  flex: 1;
}
#footer .footer_menu_title {
  font-weight: bold;
  padding: 0 0 10px;
}
#footer .menus_area .left_area a {
  font-size: 13px;
  line-height: 38px;
  color: #777777;
}
#footer .footer_menu_text{
  color: #777777;
  line-height: 30px;
}
#footer .right_area_top{
  margin: 0 0 50px;
}
#footer .address{
  background: #4782a3;
  height: 50px;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
}
#footer .copyright{
  background: #191f39;
  height: 50px;
  font-size: 10px;
  letter-spacing: 1px;
}

@media(max-width:1000px){
  #footer .menus_area{
    flex-direction: column;
    margin: 7% auto;
  }
  #footer .menus_area .left_area{
    margin: 0 0 50px;
  }
}

@media(max-width:770px){
  #footer .footer_apply_btns a {
    width: 120px;
  }  
  #footer .menus_area{
    width: 90%;
  }
  #footer .menus_area .left_area, 
  #footer .right_area_top{
    margin: 0 0 30px;
  }
  #footer .address br{
    display: block !important;
  }
}