#header{
  position: relative;
}
#header .header_btn{
  background: #eb5933;
  width: 26%;
  height: 64px;
  font-size: 18px;
  letter-spacing: 6px;
  border-radius: 20px;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 10%;
  position: absolute;
}

@media(max-width:1000px){
  #header .header_btn{
    letter-spacing: 0;
  }
}

@media(max-width:770px){
  #header .header_btn{
    height: 50px;
    width: 40%;    
    border-radius: 50px;    
    font-size: 12px;
  }
}