body{
  box-sizing: border-box;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

/* color */
.white{
  color: white;
}
.black{
  color: black;
}

/* display */
.block{
  display: block;
}
.inline_block{
  display: inline-block;
}
.table{
  display: table;
}
.flex{
  display: flex;
}
.content_center{
  justify-content: center;
}
.content_around{
  justify-content: space-around;
}
.content_between{
  justify-content: space-between;
}
.content_end{
  justify-content:flex-end;
}
.items_center{
  align-items: center;
}
.items_start{
  align-items: flex-start;
}
.items_end{
  align-items: flex-end;
}
.flow_column{
  flex-flow: column;
}

/* position */
.text_center{
  text-align: center
}

/* 影 */
.box_shadow1{
  box-shadow: 0px 5px 20px -3px black;
}
.box_shadow2{
  box-shadow: 5px 10px 20px -5px black;
}